name: NodeJS with Webpack

on:
  push:
    branches: [ main, init ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: Build
      run: |
        npm install
        npm run build

    - name: Archive
      run: tar --dereference --hard-dereference --directory public/ -cvf artifact.tar .

    - name: Upload artifact
      uses: actions/upload-artifact@main
      with:
        name: github-pages
        path: ./artifact.tar
        if-no-files-found: warn
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages # see https://github.com/actions/deploy-pages/issues/9

    steps:
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v1-beta
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
