name: NodeJS with Webpack

on:
  push:
    branches: [ main, init ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: Build
      run: |
        npm install
        npm run build

    - name: Archive
      run: |
        touch artifact.tar && tar --dereference --hard-dereference -cvf artifact.tar --exclude=.git --exclude=artifact.tar build

    - name: Upload artifact
      uses: actions/upload-artifact@main
      with:
        name: github-pages
        path: ./artifact.tar
        if-no-files-found: warn
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions: write-all
      # id-token: write
      # contents: read
      # pages: write

    steps:
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v1-beta
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        timeout: 600000
        error_count: 10
        reporting_interval: 1000

